## Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [5]:
def set_class(rating):
    if rating <= 2:
        return 'low'
    elif rating <= 4:
        return 'middle'
    else:
        return 'high'

In [8]:
rating_data = pd.read_csv('data/ratings.csv')
rating_data['class'] = rating_data['rating'].apply(set_class)
rating_data.head(10)

   userId  movieId  rating  timestamp   class
0       1        1     4.0  964982703  middle
1       1        3     4.0  964981247  middle
2       1        6     4.0  964982224  middle
3       1       47     5.0  964983815    high
4       1       50     5.0  964982931    high
5       1       70     3.0  964982400  middle
6       1      101     5.0  964980868    high
7       1      110     4.0  964982176  middle
8       1      151     5.0  964984041    high
9       1      157     5.0  964984100    high