## Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('data/ratings.csv')

In [3]:
votes_data = data.groupby('userId').count().drop(['movieId', 'timestamp'], axis=1)
votes_data.rename(columns={'rating': 'votes'}, inplace=True)
votes_data.reset_index()

     userId  votes
0         1     20
1         2     76
2         3     51
3         4    204
4         5    100
..      ...    ...
666     667     68
667     668     20
668     669     37
669     670     31
670     671    115

[671 rows x 2 columns]

In [4]:
lifetime_data = data.pivot_table(index='userId', values='timestamp', aggfunc=np.ptp)
lifetime_data.reset_index()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

     userId  timestamp
0         1         97
1         2        851
2         3      71198
3         4     203560
4         5       2101
..      ...        ...
666     667       1014
667     668        282
668     669        685
669     670    2162705
670     671   11283984

[671 rows x 2 columns]

In [12]:
joined_data = lifetime_data.join(votes_data)
joined_data.loc[joined_data['votes'] > 100]['timestamp'].mean()

40080507.4496124